/EjerciciosDeClase/Clase2/Publicaciones_v2/nbproject/private/
/EjerciciosDeClase/Clase2/Publicaciones_v03/nbproject/private/


# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
/EjerciciosDeClase/Clase3/L2_24.1_EnClase/nbproject/private/
/EjerciciosDeClase/Clase3/L2_24.1_Melgar/nbproject/private/
/EjerciciosDeClase/Clase3/L2_24.1_Melgar/build/
/EjerciciosDeClase/Clase3/L2_24.1_Melgar/dist/
/EjerciciosDeClase/Clase5/Publicaciones_v03_Factory/build/
/EjerciciosDeClase/Clase5/Publicaciones_v03_Factory/nbproject/private/
/EjerciciosDeClase/Unidad4-DA/SoftPubDBManager/nbproject/private/
/EjerciciosDeClase/Unidad4-DA/SoftPubDBManager/build/
/EjerciciosDeClase/Unidad4-DA/SoftPubDBManager/dist/
/EjerciciosDeClase/Unidad4-DA/SoftPubDBManagerTest/nbproject/private/
/EjerciciosDeClase/Unidad4-DA/SoftPubDBManagerTest/build/
/EjerciciosDeClase/Unidad4-DA/SoftPubDBManagerTest/dist/
/Evaluaciones/Laboratorios/Laboratorio4/Lab4-24_1/SolucionPreg4/MedicalSoftDBManager/build/
/Evaluaciones/Laboratorios/Laboratorio4/Lab4-24_1/SolucionPreg4/MedicalSoftDBManager/dist/
/Evaluaciones/Laboratorios/Laboratorio4/Lab4-24_1/SolucionPreg4/MedicalSoftController/build/
/Evaluaciones/Laboratorios/Laboratorio4/Lab4-24_1/SolucionPreg4/MedicalSoft/build/
/Evaluaciones/Laboratorios/Laboratorio4/Lab4-24_1/SolucionPreg4/MedicalSoftController/dist/
/Evaluaciones/Laboratorios/Laboratorio4/Lab4-24_1/SolucionPreg4/MedicalSoft/dist/
